spring:
  r2dbc:
    url: r2dbc:mysql://localhost:3306/user
    username: root
    password: root
jwt:
  secretKey: dasdsaddsaldldasjdjdajkdjkdsakjldasjkldkjldas
  accessTokenExpire: 5
  refreshTokenExpire: 10