spring:
  webflux:
    base-path: /api/user
management:
  endpoint:
    health:
      probes:
        enabled: true
  endpoints:
    web:
      exposure:
        include:
          - health
          - prometheus
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true